tbody > :first-child {
  background: rgb(33 36 42);
  color: #000 !important;
}

tbody {
}

td {
  text-align: center;
  min-inline-size: 20px;
  color: white;
}

tr > :first-child {
  display: table-cell;
  background: rgb(33 36 42);
}
.sidebar_top {
  background-color: rgb(33 36 42);
  position: absolute;
  overflow: hidden;
  height: 4vh;
  width: 100vw;
  min-height: 25px;
  float: left;
  display: block;
  z-index: 1;
}

.sidebar_left {
  padding-top: 4vh;
  background: rgba(0, 0, 0, 0.438);
  overflow: hidden;
  height: 96vh;
  width: auto;
  min-width: 20vw;
  position:absolute;
  z-index: 1;
  float: left;
  transform: translate3d(0px, 0px, 0px);
  visibility: visible;
  transition: all 0.5s ease-out 0s;
  }

.sidebar_left_closed {
  padding-top: 4vh;
  position:absolute;
  background: #252525;
  overflow: hidden;
  width: 4.5vh;
  float: left;
  transform: translate3d(-100%, 0px, 0px);
  visibility: visible;
  transition: all 0.5s ease-out 0s;
  }

.ticon {
    width: 16px;
    height: 16px;
    padding: 0px;
  }

.on {
    background-color: rgba(0, 0, 0, 0.062) !important;
  }
  
.nodes {
    filter: invert();
    background: none;
    border: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin-top: 0.55vh;
    left: calc(50vw - 30px);
    top: 0vh;
    margin-left: 0.55vh;
    z-index: 1;
}

.nodes:hover {
  background-color: rgba(0, 0, 0, 0.13);
  cursor: pointer;
  position: absolute;
}

.edges-doble {
  filter: invert();
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 2px;
  margin-top: 0.55vh;
  left: calc(50vw + 40px - 30px);
  top: 0vh;
  margin-left: 0.55vh;
  z-index: 1;
}

.edges-doble:hover {
  background-color: rgba(0, 0, 0, 0.13);
  cursor: pointer;
  position: absolute;
}

.edges-one {
  filter: invert();
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 2px;
  margin-top: 0.55vh;
  left: calc(50vw + 80px - 30px);;
  top: 0vh;
  margin-left: 0.55vh;
  z-index: 1;
}

.edges-one:hover {
  background-color: rgba(0, 0, 0, 0.13);
  cursor: pointer;
  position: absolute;
}

.tool:hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.13);
  cursor: pointer;
  }

.closebtn {
  filter: invert();
    background: none;
    position: absolute;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin-top: 0.55vh;
    top: 0vh;
    left: 0vw;
    margin-left: 0.55vh;
    z-index: 2;

  }

.closebtn:hover {
    background-color: rgba(0, 0, 0, 0.13);
    left: 0vh;
    top: 0vh;
    cursor: pointer;
    z-index: 2;
  }

.propiedades {
  background: #21242a;
  display: block;
  text-align: center;
  border-bottom: 3px solid #252525;
  color: #e8e8e8;
  
}

.analisis {
  width: auto;
  height: auto;
  margin: 0px;
}
.analisis > * {
  margin: 0px;
  margin-left: 3px;

}
.table > * {
  margin: 0px;
  margin-left: 3px;
}

.filas {
  margin-left: 16px;
}

  .auto          { cursor: auto; }
  .default       { cursor: default; }
  .none          { cursor: none; }
  .context-menu  { cursor: context-menu; }
  .help          { cursor: help; }
  .pointer       { cursor: pointer; }
  .progress      { cursor: progress; }
  .wait          { cursor: wait; }
  .cell          { cursor: cell; }
  .crosshair     { cursor: crosshair; }
  .text          { cursor: text; }
  .vertical-text { cursor: vertical-text; }
  .alias         { cursor: alias; }
  .copy          { cursor: copy; }
  .move          { cursor: move; }
  .no-drop       { cursor: no-drop; }
  .not-allowed   { cursor: not-allowed; }
  .all-scroll    { cursor: all-scroll; }
  .col-resize    { cursor: col-resize; }
  .row-resize    { cursor: row-resize; }
  .n-resize      { cursor: n-resize; }
  .e-resize      { cursor: e-resize; }
  .s-resize      { cursor: s-resize; }
  .w-resize      { cursor: w-resize; }
  .ns-resize     { cursor: ns-resize; }
  .ew-resize     { cursor: ew-resize; }
  .ne-resize     { cursor: ne-resize; }
  .nw-resize     { cursor: nw-resize; }
  .se-resize     { cursor: se-resize; }
  .sw-resize     { cursor: sw-resize; }
  .nesw-resize   { cursor: nesw-resize; }
  .nwse-resize   { cursor: nwse-resize; }
