.sidebar_right {
    background: #252525;
    overflow: hidden;
    height: 100vh;
    width: 20vh;
    float: right;
  }

.sidebar_left {
    background: #252525;
    overflow: hidden;
    height: 100vh;
    width: 4vh;
    float: left;
  }

.ticon {
    width: 16px;
    height: 16px;
    padding: 2px
  }

.tool:hover, .on{
    background-color: #464646;
    cursor: pointer;
  }

button{
    background-color: #6b6a6a;
    border-radius: 2px;
    margin-top: 4px;
}

.propiedades {
  background: #6b6a6a;
  display: block;
  text-align: center;
  border-bottom: 3px solid #252525;
  color: #e8e8e8;
}

.analisis {
  width: 235px;
  height: 180px;
  background:darkgray;
  margin: 8px;
}
.analisis > * {
  margin: 0;
  text-align: center;
}

  .auto          { cursor: auto; }
  .default       { cursor: default; }
  .none          { cursor: none; }
  .context-menu  { cursor: context-menu; }
  .help          { cursor: help; }
  .pointer       { cursor: pointer; }
  .progress      { cursor: progress; }
  .wait          { cursor: wait; }
  .cell          { cursor: cell; }
  .crosshair     { cursor: crosshair; }
  .text          { cursor: text; }
  .vertical-text { cursor: vertical-text; }
  .alias         { cursor: alias; }
  .copy          { cursor: copy; }
  .move          { cursor: move; }
  .no-drop       { cursor: no-drop; }
  .not-allowed   { cursor: not-allowed; }
  .all-scroll    { cursor: all-scroll; }
  .col-resize    { cursor: col-resize; }
  .row-resize    { cursor: row-resize; }
  .n-resize      { cursor: n-resize; }
  .e-resize      { cursor: e-resize; }
  .s-resize      { cursor: s-resize; }
  .w-resize      { cursor: w-resize; }
  .ns-resize     { cursor: ns-resize; }
  .ew-resize     { cursor: ew-resize; }
  .ne-resize     { cursor: ne-resize; }
  .nw-resize     { cursor: nw-resize; }
  .se-resize     { cursor: se-resize; }
  .sw-resize     { cursor: sw-resize; }
  .nesw-resize   { cursor: nesw-resize; }
  .nwse-resize   { cursor: nwse-resize; }
