tbody > :first-child {
  background: rgb(33 36 42);
  color: #000 !important;
}

.separador {
  top: 52vh;
  background: rgb(18 20 24);
  position: absolute;
  overflow: hidden;
  height: 24px;
  width: 100%;
  float: left;
  display: block;
  z-index: 1;
}

tbody {
}

td {
  text-align: center;
  min-inline-size: 20px;
  color: white;
}

tr > :first-child {
  display: table-cell;
  background: rgb(33 36 42);
}
.sidebar_top {
  background: rgb(18 20 24);
  position: absolute;
  overflow: hidden;
  height: 4vh;
  width: 100%;
  min-height: 25px;
  float: left;
  display: block;
  z-index: 1;
}

.sidebar_left {
  top: 4vh;
  background: rgba(0, 0, 0, 0.438);
  overflow: hidden;
  overflow-y: auto;
  height: calc(50vh - 2vh);
  width: auto;
  min-width: 20vw;
  position:absolute;
  z-index: 2;
  float: left;
  transform: translate3d(0px, 0px, 0px);
  visibility: visible;
  transition: all 0.5s ease-out 0s;
  }

.sidebar_left_closed {
  padding-top: 4vh;
  position:absolute;
  background: #252525;
  overflow: hidden;
  width: 4.5vh;
  float: left;
  transform: translate3d(-100%, 0px, 0px);
  visibility: visible;
  transition: all 0s ease-out 0s;
  }

.sidebar_left2 {
  top: 52vh;
  background: rgba(0, 0, 0, 0.438);
  overflow: hidden;
  height: calc(50vh - 2vh);
  width: auto;
  min-width: 20vw;
  position:absolute;
  z-index: 2;
  float: left;
  transform: translate3d(0px, 0px, 0px);
  visibility: visible;
  transition: all 0.5s ease-out 0s;
  }

.sidebar_left_closed2 {
  position:absolute;
  background: #252525;
  overflow: hidden;
  width: 4.5vh;
  float: left;
  transform: translate3d(-100%, 0px, 0px);
  visibility: visible;
  transition: all 0s ease-out 0s;
  }

.ticon {
    width: 16px;
    height: 16px;
    padding: 0px;
  }

.on {
    background-color: rgba(0, 0, 0, 0.062) !important;
  }
  
.nodes {
    filter: invert();
    background: none;
    border: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin-top: 0.55vh;
    left: calc(50vw - 30px);
    top: 0vh;
    margin-left: 0.55vh;
    z-index: 1;
}

.nodes:hover {
  background-color: rgba(0, 0, 0, 0.13);
  cursor: pointer;
  position: absolute;
}

.edges-doble {
  filter: invert();
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 2px;
  margin-top: 0.55vh;
  left: calc(50vw + 40px - 30px);
  top: 0vh;
  margin-left: 0.55vh;
  z-index: 1;
}

.edges-doble:hover {
  background-color: rgba(0, 0, 0, 0.13);
  cursor: pointer;
  position: absolute;
}

.edges-one {
  filter: invert();
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 2px;
  margin-top: 0.55vh;
  left: calc(50vw + 80px - 30px);;
  top: 0vh;
  margin-left: 0.55vh;
  z-index: 1;
}


.edges-one:hover {
  background-color: rgba(0, 0, 0, 0.13);
  cursor: pointer;
  position: absolute;
}

.tipomatriz {
    filter: invert();
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 2px;
    margin-top: 0.55vh;
    left: calc(50vw + 120px - 30px);
    top: 0vh;
    margin-left: 0.55vh;
    z-index: 1;
  }

  .tipomatriz:hover {
    background-color: rgba(0, 0, 0, 0.13);
    cursor: pointer;
    position: absolute;
  }

.tool:hover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.13);
    cursor: pointer;
  }

.closebtn {
  filter: invert();
    background: none;
    position: absolute;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin-top: 0.55vh;
    top: 0vh;
    left: 0vw;
    margin-left: 0.55vh;
    z-index:99;
  }

.closebtn:hover {
    background-color: rgba(0, 0, 0, 0.13);
    left: 0vh;
    top: 0vh;
    cursor: pointer;
    z-index: 99;
  }

.propiedades {
  background: #21242a;
  font-size: 18px;
  display: block;
  text-align: center;
  color: #e8e8e8;
  font-family: -webkit-pictograph;
}

.tabla {
  display:table;
  margin:auto;
  font-family:-webkit-pictograph;
  text-align:center;
  margin-bottom: 3px;
}

.analisis {
}

.tipo {
  margin: auto;
  font-size: 16px;
  margin-bottom: 2px;
  font-family:-webkit-pictograph;
  display: block;
  text-align:center;
  color: #e8e8e8;
  background: #21242ac7;
}

.tipo2 {
  margin: auto;
  margin-bottom: 2px;
  font-size: 16px;
  font-family:-webkit-pictograph;
  display: block;
  text-align:center;
  color: #e8e8e8;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111213;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21242a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e3138;
}


  .auto          { cursor: auto; }
  .default       { cursor: default; }
  .none          { cursor: none; }
  .context-menu  { cursor: context-menu; }
  .help          { cursor: help; }
  .pointer       { cursor: pointer; }
  .progress      { cursor: progress; }
  .wait          { cursor: wait; }
  .cell          { cursor: cell; }
  .crosshair     { cursor: crosshair; }
  .text          { cursor: text; }
  .vertical-text { cursor: vertical-text; }
  .alias         { cursor: alias; }
  .copy          { cursor: copy; }
  .move          { cursor: move; }
  .no-drop       { cursor: no-drop; }
  .not-allowed   { cursor: not-allowed; }
  .all-scroll    { cursor: all-scroll; }
  .col-resize    { cursor: col-resize; }
  .row-resize    { cursor: row-resize; }
  .n-resize      { cursor: n-resize; }
  .e-resize      { cursor: e-resize; }
  .s-resize      { cursor: s-resize; }
  .w-resize      { cursor: w-resize; }
  .ns-resize     { cursor: ns-resize; }
  .ew-resize     { cursor: ew-resize; }
  .ne-resize     { cursor: ne-resize; }
  .nw-resize     { cursor: nw-resize; }
  .se-resize     { cursor: se-resize; }
  .sw-resize     { cursor: sw-resize; }
  .nesw-resize   { cursor: nesw-resize; }
  .nwse-resize   { cursor: nwse-resize; }
